<section class="conteudo">
    <p class="nome">{{animal?.name}}</p>
    <section class="detalhes">
        <img class="image" [src]="animal?.image">
        <section class="informacao">
            <br>
            <section class='campo'>
                <p class="descrição">Descrição: {{animal?.description}}</p>
            </section>
            <section class='campo'></section>
                <p class="campo-texto">Idade: {{animal?.idade}}</p>
        </section>
        <section class='campo'>
            <p class="campo-texto">Sexo: {{animal?.sexo}}</p>
        </section>
        <section class='campo'>
            <p class="campo-texto">Pelagem: {{animal?.pelagem}}</p>
        </section>
        <section class='campo'>
            <p class="campo-texto">Especie: {{animal?.especie}}</p>
        </section>
        <section class='campo'>
            <p class="campo-texto">Raça: {{animal?.raca}}</p>
        </section>
    </section> 
</section>