
<app-painel></app-painel>
<app-animais></app-animais>
<fieldset class="formulario">
    <legend>Comentario</legend>
    <form (ngSubmit)="onSubmit()" class="form-comentario">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Ex: Bruno" [(ngModel)]="comentario.nome" name="nome" required=>
        </mat-form-field>
        <mat-form-field class="form-comentario">
          <mat-label>Comentario</mat-label>
          <textarea matInput placeholder="Ex: Esse animal é lindo" [(ngModel)]="comentario.comentario" name="comentario" required=""></textarea>
        </mat-form-field>
        <button type="submit">Enviar</button>
      </form>
</fieldset>

<p class="topo-comentario">Comentarios</p>
<section>
  <div *ngFor="let comentario of comentarios" class="container-comentarios">
    <div> 
      <p> Nome: {{ comentario.nome }} </p></div>
    <div><p>Comentario: {{ comentario.comentario }}</p></div>
  </div>
</section>

